.app-table {
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  margin-bottom: 40px;

  &__top-row {
    background: var(--color-light);
    color: var(--body-color);
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
  }

  &__row {
    &:nth-of-type(even) {
      background-color: var(--color-medium-gray);
    }
    + .app-table__row {
      border-top: 1px solid #e4e4e4;
    }
  }
}
