.btn {
  &.btn-primary {
    color: --color-light;
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
    &:hover {
      background-color: var(--color-blue-hover);
      border: 1px solid var(--color-blue-hover);
    }
  }

  &.btn-secondary {
    background-color: var(----color-light);
    border: 1px solid var(--color-medium-gray);
    color: var(--body-color);
    &:not([disabled]) {
      &:hover,
      .show > &.dropdown-toggle {
        background-color: var(--color-light-gray);
        border: 1px solid var(--color-medium-gray-darker);
        color: var(--body-color);
      }
    }
  }

  &.btn-tertiary {
    color: var(--color-light);
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
    &:hover {
      background-color: var(--color-orange-hover);
      border: 1px solid var(--color-orange-hover);
    }
  }
}
