.btn {
  &.btn-primary {
    color: var(--color-primary-text);
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
    &:hover {
      background-color: var(--brand-color-hover);
      border: 1px solid var(--brand-color-hover);
    }
  }

  &.btn-secondary {
    background-color: var(----color-light);
    border: 1px solid var(--color-medium-gray);
    color: var(--color-font-primary);
    &:not([disabled]) {
      &:hover,
      .show > &.dropdown-toggle {
        background-color: var(--color-light-gray);
        border: 1px solid var(--elements-high-contrast);
        color: var(--color-font-primary);
      }
    }
  }

  &.btn-tertiary {
    color: var(--color-light);
    background-color: var(--brand-color-secondary);
    border: 1px solid var(--brand-color-secondary);
    &:hover {
      background-color: var(--brand-color-secondary-hover);
      border: 1px solid var(--brand-color-secondary-hover);
    }
  }
}
