@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TTCommonsPro-Lt.woff2') format('woff2'),
    url('../fonts/TTCommonsPro-Lt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TTCommonsPro-Bd.woff2') format('woff2'),
    url('../fonts/TTCommonsPro-Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TTCommonsPro-Rg.woff2') format('woff2'),
    url('../fonts/TTCommonsPro-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TTCommonsPro-Md.woff2') format('woff2'),
    url('../fonts/TTCommonsPro-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TTCommonsPro-It.woff2') format('woff2'),
    url('../fonts/TTCommonsPro-It.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
