html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  --viewport-spacing-horizontal: 16px;

  @media (min-width: 768px) {
    --viewport-spacing-horizontal: 24px;
  }
}

body {
  background-color: var(--color-light) !important;
  font-family: 'TT Commons Pro';
}

img {
  max-width: 100%;
}

.content-wrapper {
  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 0 var(--viewport-spacing-horizontal);
  }
}
