.b-table-sticky-header {
  max-height: calc(100vh - 400px) !important;
}

.weekly-timesheet-row[readonly] + .weekly-timesheet-row .weekly-timesheet-row__value-input {
  background-color: transparent;
  border: 1px solid transparent;
  pointer-events: none;
}
