:root {
  --color-primary: #201e33;
  --color-primary-text: #ffffff;
  --color-secondary: #e6e6e6;
  --color-tertiary: #62C3DE;
  --color-tertiary-darker: #21849f;
  --body-color: #212529;
  --color-success: #A6D9A6;
  --color-success-darker: #4db34d;
  --color-alert: #FFB37E;
  --color-alert-darker: #fe6800;
  --color-danger: #E8758C;
  --color-danger-darker: #be203f;
  --color-medium-gray: #EAEAEA;
  --color-medium-gray-darker: #aaaaaa;
}

$theme-colors: (
  'primary': #201e33,
  'secondary': #201e33,
);

// Bootstrap and its default variables
@import '../../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../../node_modules/bootstrap-vue/src/index.scss';
