.multiselect {
  color: var(--text-color);
  border-color: var(--text-color);
  &__select::before {
    color: var(--color--light);
  }
  &__input,
  &__single,
  &__content-wrapper,
  &__tag {
    color: var(--color-font-primary);
    background-color: var(--color-light);
  }
  &__content-wrapper {
    border-color: var(--color-medium-gray);
    background-color: var(--color-light);
  }
  &__tag {
    background: var(--color-success-darker);
  }
  &__tags {
    border: 1px solid var(--color-medium-gray);
    background-color: var(--color-light);
  }
  &__option--highlight {
    background: var(--color-success-darker);
    &:after {
      background: var(--color-success-darker);
    }
  }
}
